			a{
				text-decoration:none;
			}
			a:hover{
				font:italic;
			}
			body {
				width:500px;
				margin:0 auto;
				font-family:Georgia;
			}
			.header, .footer {
				background:#C00;
				color:#FFF;
				padding:10px;
			}
			.header .logo a {font-size:35px; font-weight:bold; color:#FFF; text-decoration:none;}
			.header .slogan {color:#EEE;}
			
			.news_list .news_item {margin:35px 0;}
			.date {
				margin:5px 0;
				color:#999;
			}
			.map{
    width: 100%;
    padding:4px;
    background: #bfbb11;
    .border-radius(8px 8px 8px 8px);
    .box-shadow(0px 0px 48px 0px rgba(0,0,0,1));
}

		